{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title%}
    </title>
    <link rel="icon" type="image/png" href="{% static 'images/parktrack-logo-favicon.png' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/3ea0af40f5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="flex bg-[#dcdbdb]">
    {% block content %}

    {% endblock content%}

    {% if messages %}
        <script>
            {% for message in messages%}  
                let icon = 'info';

                if ('{{ message.tags }}' === 'success') icon = 'success';
                if ('{{ message.tags }}' === 'error') icon = 'error';
                if ('{{ message.tags }}' === 'warning') icon = 'warning';

                Swal.fire({
                    icon: icon,
                    title: '{{ message|escapejs }}',
                    showConfirmationButton: true,
                    customClass: {
                        confirmButton: 'px-4 py-2 bg-[#7cd1f9] text-white rounded-md hover:bg-[#78cbf2] focus:outline-none'
                    },
                    buttonsStyling: false
                });
            {% endfor %}
        </script>
    {% endif %}
    {% block script %}

    {% endblock script %}
</body>
</html>