{% if not is_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}

    {% endblock title %}
    </title>
    <link rel="icon" type="image/png" href="{% static 'images/parktrack-logo-favicon.png' %}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/3ea0af40f5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body class="flex bg-[#dcdbdb]">

  	{% include 'navbar.html' %}

  	<main id="content" class="h-screen w-full overflow-auto">
{% endif %}
    
    <header class="top-0 sticky bg-white shadow-xl z-[5] pb-3 pt-[0.5px]">
		{% block header %}

		{% endblock header %}
    </header>
    
    {% block content %}

    {% endblock %}
    
{% if not is_partial %}
  	</main>
  
  {% if messages %}
    <script>
		{% for message in messages%}  
			let icon = 'info';

			if ('{{ message.tags }}' === 'success') icon = 'success';
			if ('{{ message.tags }}' === 'error') icon = 'error';
			if ('{{ message.tags }}' === 'warning') icon = 'warning';
		
			Swal.fire({
			icon: icon,
			title: '{{ message|escapejs }}',
			showConfirmButton: true,
			customClass: {
				confirmButton: 'px-4 py-2 bg-[#7cd1f9] text-white rounded-md hover:bg-[#78cbf2] focus:outline-none'
			},
			buttonsStyling: false
			});
		{% endfor %}
    </script>
	{% endif %}
	<script type="module" src="{% static 'javascript/base.js' %}"></script>
	{% block script %}

	{% endblock script %}
</body>
</html>
{{ redirect_to_login_immediately }}
{% endif %}