<form action="{% url 'settings:change-password' user.id %}" id="edit-password-form" method="POST" >
    {% csrf_token %}

    <h3 class="text-lg font-semibold mt-8 mb-2">Update Security Credentials</h3>
    <hr class="mb-6 border-gray-300">
    
    <div class="max-w-md">
        <div class="space-y-6">
            <div class="text-black xl:text-lg break-words">
                <label for="{{ change_password_form.old_password.id_for_label }}" class="block font-medium mb-1">Current Password</label>
                {{ change_password_form.old_password }}
            </div>
            
            <div class="text-black xl:text-lg break-words">
                <label for="{{ change_password_form.new_password1.id_for_label }}" class="block font-medium mb-1">New Password</label>
                {{ change_password_form.new_password1 }}
            </div>
            
            <div for="{{ change_password_form.new_password2.id_for_label }}" class="text-black xl:text-lg break-words">
                <label class="block font-medium mb-1">Re-enter New Password</label>
                {{ change_password_form.new_password2 }}
            </div>
        </div>
    </div>

    <div class="flex justify-end mt-8 space-x-4">
        <button type="button" id="password-edit-button" class="bg-[#7cd1f9] text-white hover:bg-[#78cbf2] px-6 py-2 rounded-md shadow-md">
            Change Password
        </button>
        <button type="button" id="password-cancel-button" class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100 hidden">
            Cancel
        </button>
        <button type="submit" id="password-save-button" class="px-4 py-2 bg-[#7cd1f9] text-white rounded-md hover:bg-[#78cbf2] hidden">
            Save Password
        </button>
    </div>
</form>