asgiref
dj-database-url
Django==5.2.4
django-auto-logout==0.5.1
django-cors-headers
django-extensions
djangorestframework
mysqlclient
Pillow
python-dotenv
requests
shapely
sqlparse
gunicorn
whitenoise