{% extends 'base.html' %}

{% load static %}

{% block title %}
  Profile Information
{% endblock title %}

{% block header %}
  <h1 class="mt-4 md:ml-5 pb-2 md:text-left text-center text-white font-bold text-4xl">Profile Information</h1>
{% endblock header %}

{% block content %}
    <section class="profile-information">
        <div class="p-5 bg-[#dcdbdb] min-h-screen">
            <div class="flex items-center gap-6 w-full mx-auto">
                <div class="w-full bg-white rounded-xl shadow-md overflow-hidden p-8 mb-6">
                    <div id="personal-information-display">
                        {% include 'components/personal-information.html' %}
                    </div>                   

                    <div id="change-password-display">
                        {% include 'components/change-password.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
    
        input:disabled {
            border: 1px solid #d1d5db !important;
            background-color: #f9fafb !important; 
            color: #4b5563 !important; 
            cursor: not-allowed;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'javascript/settings/personalInformation.js' %}"></script>
{% endblock script %}