{% extends 'base_auth.html' %}

{% load static %}

{% block title %}
  Login
{% endblock title %}

{% block content %}

<section class="min-h-screen min-w-screen flex justify-center items-center">
  
  <div class="flex justify-center rounded-3xl shadow-xl h-[400px] max-w-2xl min-w-xs bg-white">

    <div class="w-2/5 md:block hidden">
      <img 
        src="{% static 'images/login-image.jpg' %}" 
        class="rounded-l-2xl h-full"
      >
    </div>
  
    <div class="md:w-3/5 px-8 w-xs">

      <div class="flex flex-col justify-center items-center mt-2">
        <img 
          src="{% static 'images/parktrack-logo-red.png' %}" 
          class="w-18 h-18"
        >
        <h1 class="font-bold text-2xl">Login</h1>
      </div>

      <form method="POST" class="flex flex-col gap-2 mt-8">
        {% csrf_token %}
        <label for="email" class="font-semibold text-sm">Email</label>
        <input type="email" class="text-xs p-2 shadow-xl rounded-lg bg-[#F4F2F2]" name="username" id="email">
        <label for="password" class="font-semibold text-sm">Password</label>
        <input type="password" class="text-xs p-2 shadow-xl rounded-lg bg-[#F4F2F2]" name="password" id="password">
        <button 
          type="submit" 
          class="
            bg-[#940B26] rounded-lg font-bold text-white p-1 mt-4
            hover:scale-105 cursor-pointer
          "
        >
          Login
        </button>
        <p class="font-semibold text-center text-xs mt-2">
          Don't have an account?
          <a class="text-[#940B26] decoration-solid underline" href="{% url 'users:register' %}">
            Register
          </a>
        </p>
      </form>

    </div>

  </div>

</section>

{% endblock %}