{% extends 'base.html' %}

{% load static %}

{% block title %}
	Register
{% endblock title %}

{% block content %}
<div class="md:hidden block w-full h-[260px] bg-[#940B26] rounded-b-full absolute top-0 left-0 -z-10">
	<div class="flex flex-col items-center mt-2">
		<img 
			src="{% static 'images/parktrack-logo-white.png' %}" 
			class="w-18 h-18"
		>
		<h1 class="font-bold text-2xl text-white">Registration</h1>
	</div>
</div>

<section class="min-h-screen min-w-screen flex justify-center items-center">
  
  	<div class="
  		flex justify-center bg-[#EEEAEA] md:bg-[#FFFFFF] rounded-3xl shadow-2xl h-[450px] md:h-[500px] md:max-w-2xl lg:max-w-4xl
		min-w-xs md:mt-0 mt-16
	">

		<div class="w-2/5 lg:block hidden">
		<img 
			src="{% static 'images/register-image.jpg' %}" 
			class="rounded-l-2xl h-full"
		>
		</div>
	
		<div class="lg:w-3/5 px-8 w-xs md:w-[660px]">
			
			<div class="hidden md:flex justify-start mt-2">
				<img 
				src="{% static 'images/parktrack-logo-red.png' %}" 
				class="w-8 h-8"
				>
				<h1 class="font-bold text-2xl">Registration</h1>
			</div>

			<form method="POST" class="gap-2 mt-5" novalidate>
				{% csrf_token %}

				<div class="space-y-5">

					<section id="step-personal" class="active flex flex-col gap-2 md:grid md:grid-cols-3 md:gap-4" data-step="0">

						<h1 class="md:hidden font-bold text-2xl text-center mb-3">Personal Info</h1>
						
						<div class="flex flex-col">
							<label for="{{ user_form.first_name.id_for_label }}" class="font-bold text-sm">First Name</label>
							{{ user_form.first_name }}
						</div>
						
						<div class="flex flex-col">
							<label for="{{ user_form.middle_name.id_for_label }}" class="font-bold text-sm">Middle Name</label>
							{{ user_form.middle_name }}
						</div>

						<div class="flex flex-col">
							<label for="{{ user_form.last_name.id_for_label }}" class="font-bold text-sm">Last Name</label>
							{{ user_form.last_name }}
						</div>

						<div class="flex flex-col">
							<label for="{{ driver_profile_form.gender.id_for_label }}" class="font-bold text-sm">Gender</label>
							{{ driver_profile_form.gender }}
						</div>

						<div class="md:hidden">
							<button type="button" id="next-to-contact" class="
								bg-[#940B26] rounded-lg font-semibold text-white p-1 mt-4 w-full
								hover:scale-105 cursor-pointer
							">
								Next
							</button>
						</div>

						<p class="md:hidden font-semibold text-center text-xs mt-2">
							Already have an account?
							<a class="text-[#940B26] decoration-solid underline" href="{% url 'users:login' %}">
								Login
							</a>
						</p>

					</section>

					<section id="step-contact" class="hidden flex flex-col gap-2 md:grid md:grid-cols-3 md:gap-4" data-step="1">

						<div class="md:hidden relative flex items-center">
							<button type="button" id="back-to-personal" class="absolute left-0">
								<i class="fa-solid fa-arrow-left"></i>
							</button>
							<h1 class="font-bold text-2xl mx-auto mb-3">
								Contact Info
							</h1>
						</div>

						<div class="flex flex-col">
							<label for="{{ driver_profile_form.contact_number.id_for_label}}"class="font-bold text-sm">Contact Number</label>
							{{ driver_profile_form.contact_number }}
						</div>

						<div class="flex flex-col">
							<label for="{{ driver_profile_form.city.id_for_label }}" class="font-bold text-sm">City</label>
							{{ driver_profile_form.city }}
							<datalist id="city-list">
								{% for city in cities %}
									<option value="{{ city.citymunDesc}}" data-code="{{ city.citymunCode }}"></option>
								{% endfor %}
							</datalist>
						</div>

						<div class="flex flex-col">							
							<label for="{{ driver_profile_form.barangay.id_for_label }}" class="font-bold text-sm">Barangay</label>
							{{ driver_profile_form.barangay }}
							<datalist id="barangay-list">
							</datalist>
						</div>

						<button type="button" id="next-to-vehicle" class="
							bg-[#940B26] rounded-lg font-semibold text-white p-1 mt-[77px]
							hover:scale-105 cursor-pointer w-full md:hidden
						">
							Next
						</button>

						<p class="md:hidden font-semibold text-center text-xs mt-2">
							Already have an account?
							<a class="text-[#940B26] decoration-solid underline" href="{% url 'users:login' %}">
								Login
							</a>
						</p>

					</section>

					<section id="step-vehicle" class="hidden flex flex-col gap-2 md:grid md:grid-cols-3 md:gap-4" data-step="2">

						<div class="md:hidden relative flex items-center">
							<button type="button" id="back-to-contact" class="absolute left-0">
								<i class="fa-solid fa-arrow-left"></i>
							</button>
							<h1 class="font-bold text-2xl mx-auto mb-3">
								Vehicle Info
							</h1>
						</div>
						
						<div class="flex flex-col">
							<label for="{{ vehicle_form.vehicle_type.id_for_label }}" class="font-bold text-sm">Vehicle Type</label>
							{{ vehicle_form.vehicle_type }}
						</div>

						<div class="flex flex-col">
							<label for="{{ vehicle_form.plate_number.id_for_label }}" class="font-bold text-sm">Plate Number</label>
							{{ vehicle_form.plate_number }}
						</div>

						<div class="flex flex-col">
							<label for="{{ vehicle_form.gate_pass.id_for_label }}" class="font-bold text-sm">Gate Pass</label>
							{{ vehicle_form.gate_pass }}
						</div>

						<button type="button" id="next-to-credentials" class="
							bg-[#940B26] rounded-lg font-semibold text-white p-1 mt-[76px]
							hover:scale-105 cursor-pointer w-full md:hidden
						">
							Next
						</button>

						<p class="md:hidden font-semibold text-center text-xs mt-2">
							Already have an account?
							<a class="text-[#940B26] decoration-solid underline" href="{% url 'users:login' %}">
								Login
							</a>
						</p>

					</section>
					
					<section id="step-credentials" class="hidden flex flex-col gap-2 md:grid md:grid-cols-3 md:gap-4" data-step="3">
						
						<div class="md:hidden relative flex items-center">
							<button type="button" id="back-to-vehicle" class="absolute left-0">
								<i class="fa-solid fa-arrow-left"></i>
							</button>
							<h1 class="font-bold text-2xl mx-auto mb-3">
								Credentials
							</h1>
						</div>

						<div class="flex flex-col">
							<label for="{{ user_form.email.id_for_label}}" class="font-bold text-sm">Email</label>
							{{ user_form.email }}
						</div>

						<div class="flex flex-col">
							<label for="{{ user_form.password1.id_for_label}}" class="font-bold text-sm">Password</label>
							{{ user_form.password1 }}
						</div>

						<div class="flex flex-col">
							<label for="{{ user_form.password2.id_for_label}}" class="font-bold text-sm">Confirm Password</label>
							{{ user_form.password2 }}
						</div>

						<button type="submit" class="
							bg-[#940B26] rounded-lg font-semibold text-white p-1 mt-[77px]
							hover:scale-105 cursor-pointer w-full md:hidden
						">
							Register
						</button>

						<p class="md:hidden font-semibold text-center text-xs mt-2">
							Already have an account?
							<a class="text-[#940B26] decoration-solid underline" href="{% url 'users:login' %}">
								Login
							</a>
						</p>

					</section>

				</div>

				<div class="hidden md:block mt-2 space-y-2">
					<button 
					type="submit" 
					class="
						w-full bg-[#940B26] rounded-lg font-bold text-white p-1 mt-4
						hover:scale-105 cursor-pointer
					"
					>
					Register
					</button>
					<p class="font-semibold text-center text-xs">
					Already have an account?
					<a class="text-[#940B26] decoration-solid underline" href="{% url 'users:login' %}">
						Login
					</a>
					</p>
				</div>
				
			</form>

		</div>

  	</div>

</section>

{% endblock%}

{% block script %}
<script src="{% static 'javascript/register.js' %}"></script>
{% endblock script %}